@model Web.Models.Serie

@{
    ViewData["Title"] = "Eliminar Serie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-xxl py-5">
	<div class="container">

<h1>ELIMINAR SERIE</h1>

<h3>esta seguro de eliminar?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sinopsis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sinopsis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Director)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duracion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEstreno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEstreno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistroActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistroActivo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="=btn btn-primary">
                    <i class="fas fa-trash-alt"></i> Eliminar
                    </button>
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
</div>
</div>